/* HEADER */
#header {
    background-color: #e0edf3;
    top: 16px;
    height: 7vh;
    padding: 1vh;
    display: flex;
    color: #002e41;
    align-items: center;
    font-size: 14px;
    text-align: center;
}

/* SIDEBAR AND TABS */
#content-grid {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-gap: 10px;
}

#sidebar {
    position: "fixed";
    padding: "2em 1em";
    background-color: #faf8f9;
}

.tab-content {
    background-color: #e9e7e8;
}

.tab-component {
    background-color: #faf8f9;
    padding: 10px;
}


/* SINGLE MOTIF VIEW TAB */
.single-motif-tab-content { 
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 10px 10px;
    padding: 10px;
}
  
.matrix-display { grid-area: 1 / 1 / 6 / 4; }
.graph-display { grid-area: 1 / 4 / 4 / 6; }
.options { grid-area: 4 / 4 / 6 / 6; }
.sliders { grid-area: 6 / 1 / 7 / 6; }