
/* MULTI MOTIF VIEW TAB */
.side-by-side-tab-content {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 10px 10px;
    padding: 10px;
}

.s-b-s-options { grid-area: 1 / 1 / 2 / 7; }
.first-view { grid-area: 2 / 1 / 5 / 4; }
.second-view { grid-area: 2 / 4 / 5 / 7; }